services:
  db:
    build: ./docker/db
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
    command: >
      sh -c "
        echo 'Waiting for database...' &&
        while ! nc -z db 5432; do
        sleep 1
        done;
      echo 'Database is ready!' &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  postgres_data: